
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-awi {
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #a4bc92;
  width: 100%;
  height: 296.5rem;
  position: relative;

  .blur-xhN {
    top: 0;
    box-shadow: inset 25rem 25rem 25rem rgba(0, 0, 0, 0.25));
    background-color: #ddffbb;
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
  }
  .border-yF6 {
    height: 37.0351rem;
    position: absolute;
    left: 99.2rem;
    top: 1.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 47.1877rem;
  }
  .person-image-ec8 {
    position: absolute;
    left: 81.7rem;
    top: 41.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 60rem;
    height: 61.6rem;
  }
  .rectangle-3-AqN {
    top: 43rem;
    background-color: #ddffbb;
    width: 12.8rem;
    height: 10.2rem;
    position: absolute;
    left: 128.9rem;
  }
  .hi-there-this-is-viruthika-varshini-Vck {
    left: 18.6rem;
    top: 25.5rem;
    font-size: 5rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    height: 12.2rem;
    font-weight: 400;
    width: 57.6rem;
  }
  .corner-xFS {
    width: 20.9rem;
    height: 58.8rem;
    position: absolute;
    left: 2.7rem;
    top: 44.7rem;
    object-fit: cover;
    vertical-align: top;
  }
  .line-1-5qr {
    top: 38.8rem;
    background-color: #000000;
    width: 61.5rem;
    height: 0.1rem;
    position: absolute;
    left: 17rem;
  }
  .student-Cfa {
    position: absolute;
    left: 19.4rem;
    top: 40.3rem;
    display: flex;
    align-items: flex-start;
    width: 26.5rem;
    height: 4.4988rem;

    .student-6kx {
      flex-shrink: 0;
      margin: 0.15rem 0.498rem 0rem 0rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-2-aw2 {
      margin-right: 1.4rem;
      width: 0.1019rem;
      height: 4.4988rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .designer-uyJ {
      flex-shrink: 0;
      margin-top: 0.15rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .about-EVn {
    padding: 0.9rem 1.9rem 1.7rem 1.9rem;
    top: 7.5rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 40.1rem;
    font-weight: 400;
    line-height: 1.2125;
    border-radius: 10rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    height: 6.3rem;
    cursor: pointer;
    position: absolute;
    color: #000000;
    width: 18.8rem;
    font-size: 3rem;
  }
  .home-cmE {
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-size: 3rem;
    white-space: nowrap;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 6.3rem;
    position: absolute;
    left: 18.6rem;
    top: 7.5rem;
    font-family: Inter, 'Source Sans Pro';
    align-items: center;
    border-radius: 10rem;
    width: 18.8rem;
    justify-content: center;
    display: flex;
  }
  .skill-Y2c {
    height: 6.3rem;
    cursor: pointer;
    position: absolute;
    left: 61.5rem;
    top: 7.4rem;
    width: 20rem;

    .rectangle-6-Fxc {
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 10rem;
      width: 18.8rem;
      height: 6.3rem;
    }
    .skills-BLU {
      line-height: 1.2125;
      color: #130c0c;
      position: absolute;
      height: 3.7rem;
      left: 5.2rem;
      top: 1.7rem;
      font-size: 3rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 7rem;
    }
  }
  .rectangle-7-4v4 {
    left: 0;
    top: 103.5rem;
    box-shadow: inset 25rem 25rem 15rem rgba(0, 0, 0, 0.25));
    background-color: #c7e9b0;
    width: 144rem;
    height: 93.2rem;
    position: absolute;
  }
  .screenshot-2023-04-12-182035-1-NA4 {
    object-fit: cover;
    vertical-align: top;
    width: 59.6rem;
    height: 62.9rem;
    position: absolute;
    left: 0;
    top: 98.3rem;
  }
  .screenshot-2023-04-12-182035-2-Uit {
    top: 137.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 59.9956rem;
    height: 63.2747rem;
    position: absolute;
    left: 90.4rem;
  }
  .ellipse-1-C96 {
    top: 129.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 49.5rem;
    height: 45.3rem;
    position: absolute;
    left: 7.3rem;
  }
  .screenshot-2023-04-12-182524-1-WvU {
    position: absolute;
    left: 0;
    top: 112.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 76.8rem;
    height: 72.1rem;
  }
  .rectangle-8-qhr {
    height: 100.4rem;
    position: absolute;
    left: 0;
    top: 196.1rem;
    box-shadow: inset 30rem 30rem 25rem rgba(0, 0, 0, 0.25));
    background-color: #c7e9b0;
    width: 144rem;
  }
  .screenshot-2023-04-12-184303-1-ZNx {
    position: absolute;
    left: 98.5rem;
    top: 196.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 47.6rem;
    height: 70.5rem;
  }
  .screenshot-2023-04-12-184426-1-seY {
    width: 39rem;
    height: 69.9rem;
    position: absolute;
    left: 0;
    top: 229rem;
    object-fit: cover;
    vertical-align: top;
  }
  .about-me-c6L {
    font-size: 5rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    width: 26.3rem;
    top: 119rem;
    left: 76.2rem;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    height: 6.1rem;
    position: absolute;
  }
  .im-student-pursuing-bachelor-degree-in-artificial-intelligence-and-data-science-in-crescent-institute-of-science-and-technology-and-i-love-to-code-6GQ {
    position: absolute;
    top: 129.8rem;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2125;
    width: 60.9rem;
    height: 42.5rem;
    left: 72rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-9-uzY {
    width: 18.4rem;
    height: 19.4rem;
    position: absolute;
    left: 56.8rem;
    top: 199.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-10-FHi {
    vertical-align: top;
    width: 27.8rem;
    height: 24.1rem;
    position: absolute;
    left: 53.6rem;
    top: 261.9rem;
    object-fit: cover;
  }
  .rectangle-11-BhA {
    position: absolute;
    left: 53.6rem;
    top: 229rem;
    object-fit: cover;
    vertical-align: top;
    width: 27.8rem;
    height: 24.1rem;
  }
  .python-KYU {
    position: absolute;
    left: 59.4rem;
    top: 218.9rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 16.7rem;
    height: 6.1rem;
    font-size: 5rem;
    font-weight: 400;
    color: #000000;
  }
  .machine-learning-dp4 {
    height: 6.1rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    width: 40.4rem;
    position: absolute;
    left: 47.8rem;
    top: 254.6rem;
    font-size: 5rem;
  }
  .debugging-LyN {
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    font-weight: 400;
    left: 56.8rem;
    top: 286.7rem;
    font-size: 5rem;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    width: 25.8rem;
    height: 6.1rem;
  }
}
