
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-awi {
  width: 100%;
  height: 296.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #a4bc92;
}
.desktop-1-awi .blur-xhN {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 25rem 25rem 25rem rgba(0, 0, 0, 0.25));
  background-color: #ddffbb;
}
.desktop-1-awi .border-yF6 {
  width: 47.1877rem;
  height: 37.0351rem;
  position: absolute;
  left: 99.2rem;
  top: 1.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .person-image-ec8 {
  width: 60rem;
  height: 61.6rem;
  position: absolute;
  left: 81.7rem;
  top: 41.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .rectangle-3-AqN {
  width: 12.8rem;
  height: 10.2rem;
  position: absolute;
  left: 128.9rem;
  top: 43rem;
  background-color: #ddffbb;
}
.desktop-1-awi .hi-there-this-is-viruthika-varshini-Vck {
  width: 57.6rem;
  height: 12.2rem;
  position: absolute;
  left: 18.6rem;
  top: 25.5rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-awi .corner-xFS {
  width: 20.9rem;
  height: 58.8rem;
  position: absolute;
  left: 2.7rem;
  top: 44.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .line-1-5qr {
  width: 61.5rem;
  height: 0.1rem;
  position: absolute;
  left: 17rem;
  top: 38.8rem;
  background-color: #000000;
}
.desktop-1-awi .student-Cfa {
  width: 26.5rem;
  height: 4.4988rem;
  position: absolute;
  left: 19.4rem;
  top: 40.3rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-awi .student-Cfa .student-6kx {
  margin: 0.15rem 0.498rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-awi .student-Cfa .line-2-aw2 {
  margin-right: 1.4rem;
  width: 0.1019rem;
  height: 4.4988rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-awi .student-Cfa .designer-uyJ {
  margin-top: 0.15rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-awi .about-EVn {
  box-sizing: border-box;
  padding: 0.9rem 1.9rem 1.7rem 1.9rem;
  width: 18.8rem;
  height: 6.3rem;
  cursor: pointer;
  position: absolute;
  left: 40.1rem;
  top: 7.5rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 10rem;
}
.desktop-1-awi .home-cmE {
  width: 18.8rem;
  height: 6.3rem;
  position: absolute;
  left: 18.6rem;
  top: 7.5rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 10rem;
}
.desktop-1-awi .skill-Y2c {
  width: 20rem;
  height: 6.3rem;
  cursor: pointer;
  position: absolute;
  left: 61.5rem;
  top: 7.4rem;
}
.desktop-1-awi .skill-Y2c .rectangle-6-Fxc {
  width: 18.8rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 10rem;
}
.desktop-1-awi .skill-Y2c .skills-BLU {
  width: 7rem;
  height: 3.7rem;
  position: absolute;
  left: 5.2rem;
  top: 1.7rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #130c0c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-awi .rectangle-7-4v4 {
  width: 144rem;
  height: 93.2rem;
  position: absolute;
  left: 0;
  top: 103.5rem;
  box-shadow: inset 25rem 25rem 15rem rgba(0, 0, 0, 0.25));
  background-color: #c7e9b0;
}
.desktop-1-awi .screenshot-2023-04-12-182035-1-NA4 {
  width: 59.6rem;
  height: 62.9rem;
  position: absolute;
  left: 0;
  top: 98.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .screenshot-2023-04-12-182035-2-Uit {
  width: 59.9956rem;
  height: 63.2747rem;
  position: absolute;
  left: 90.4rem;
  top: 137.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .ellipse-1-C96 {
  width: 49.5rem;
  height: 45.3rem;
  position: absolute;
  left: 7.3rem;
  top: 129.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-awi .screenshot-2023-04-12-182524-1-WvU {
  width: 76.8rem;
  height: 72.1rem;
  position: absolute;
  left: 0;
  top: 112.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .rectangle-8-qhr {
  width: 144rem;
  height: 100.4rem;
  position: absolute;
  left: 0;
  top: 196.1rem;
  box-shadow: inset 30rem 30rem 25rem rgba(0, 0, 0, 0.25));
  background-color: #c7e9b0;
}
.desktop-1-awi .screenshot-2023-04-12-184303-1-ZNx {
  width: 47.6rem;
  height: 70.5rem;
  position: absolute;
  left: 98.5rem;
  top: 196.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .screenshot-2023-04-12-184426-1-seY {
  width: 39rem;
  height: 69.9rem;
  position: absolute;
  left: 0;
  top: 229rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .about-me-c6L {
  width: 26.3rem;
  height: 6.1rem;
  position: absolute;
  left: 76.2rem;
  top: 119rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-awi .im-student-pursuing-bachelor-degree-in-artificial-intelligence-and-data-science-in-crescent-institute-of-science-and-technology-and-i-love-to-code-6GQ {
  width: 60.9rem;
  height: 42.5rem;
  position: absolute;
  left: 72rem;
  top: 129.8rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-awi .rectangle-9-uzY {
  width: 18.4rem;
  height: 19.4rem;
  position: absolute;
  left: 56.8rem;
  top: 199.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .rectangle-10-FHi {
  width: 27.8rem;
  height: 24.1rem;
  position: absolute;
  left: 53.6rem;
  top: 261.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .rectangle-11-BhA {
  width: 27.8rem;
  height: 24.1rem;
  position: absolute;
  left: 53.6rem;
  top: 229rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-awi .python-KYU {
  width: 16.7rem;
  height: 6.1rem;
  position: absolute;
  left: 59.4rem;
  top: 218.9rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-awi .machine-learning-dp4 {
  width: 40.4rem;
  height: 6.1rem;
  position: absolute;
  left: 47.8rem;
  top: 254.6rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-awi .debugging-LyN {
  width: 25.8rem;
  height: 6.1rem;
  position: absolute;
  left: 56.8rem;
  top: 286.7rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
